{% extends "core/base.html" %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-12">
            <font class="h2">Dashboard</font> <font class="h4">[ {{ user.full_name }} ]</font>
        </div>
        <div class="col-12 d-flex justify-content-between">
            <div>Manage your <b>orders</b> and personal details</div>
            <div><a href="{% url 'account:edit' %}">Change Details</a></div>
        </div>
        <hr />
    </div>
{% endblock %}
