{% extends "core/base.html" %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-12">
            <font class="h2">Dashboard</font> <font class="h4">[ {{ user.full_name }} ]</font>
        </div>
        <div class="col-12 d-flex justify-content-between">
            <div>Manage your <b>orders</b> and personal details</div>
            <div><a href="{% url 'account:edit' %}">Change Details</a></div>
        </div>
        <hr />
        <div class="row">
            <span class="h6">History User</span>
        </div>
        <div class="row">
            <div class="col-6">
                <ol class="list-group list-group-numbered">
                {% for history in user.history.all %}
                    <li class="list-group-item">
                        <div class="d-flex bd-highlight">
                            <div class="flex-grow-1 bd-highlight">
                                <span>{{ history.history_change_reason }}</span>
                            </div>
                            <div class="bd-highlight">
                                <span class="text-muted font-weight-normal">{{ history.history_date }}</span>
                            </div>
                        </div>
                    </li>
                    
                {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
